/* Inter Regular */
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.woff2') format('woff2'),
         url('./fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  /* Inter Bold */
  @font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Bold.woff2') format('woff2'),
         url('./fonts/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  /* Fira Code Regular */
  @font-face {
    font-family: 'Fira Code';
    src: url('./fonts/FiraCode-Regular.woff2') format('woff2'),
         url('./fonts/FiraCode-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  /* Material Icons */
  @font-face {
    font-family: 'Material Icons';
    src: url('./fonts/MaterialIcons-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }